// PRIMARY_COLORS
$primary: rgb(0, 192, 238);

// GREY_SCALE
$pure-white: rgb(255, 255, 255);
$grey-1: rgb(199, 199, 199);
$grey-2: rgb(102, 102, 102);
$grey-3: rgb(51, 51, 51);
$grey-4: rgba(0, 0, 0, 0.5);
$pure-black: rgb(0, 0, 0);

// FONTS
$base-font: "Open Sans", sans-serif;
