@use "root";
@use "header";
@use "aside";
@use "shop";
@use "modal";
@use "custom";
@use "cart";
@import "reset";

* {
  font-family: root.$base-font;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    flex: 1;

    .app__main--wrapper {
      margin-top: 4rem;
      max-width: 80rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 6rem);
      overflow: hidden;
      flex: 1;

      @media (width > 768px) {
        flex-direction: row;
      }
    }

    .footer {
      width: 100%;
      background: root.$pure-black;
      font-size: 0.9rem;
      color: root.$pure-white;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
    }
  }

  .floating__menu {
    margin-top: 2rem;
    margin-right: 1rem;
    width: 9rem;
    height: fit-content;

    .details {
      border: 1px solid root.$grey-4;
      transition: 1s;

      .details__summary {
        font-size: 1rem;
        color: root.$pure-black;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem;
        border-bottom: 1px solid root.$grey-4;
        cursor: pointer;

        .details__summary--arrow {
          transition: 0.1s;
          cursor: pointer;
        }
      }

      .order__wrapper {
        margin: 0;
        gap: 0;
        .order__button {
          cursor: pointer;
          font-size: 1rem;
          color: root.$pure-black;
          display: flex;
          gap: 0;
          margin: 0;
          width: 100%;
          padding: 0.5rem 0.6rem;
          transition: 0.3s;
          &:hover {
            background: root.$primary;
            color: root.$pure-white;
          }
        }
      }

      &[open] .details__summary .details__summary--arrow {
        transform: rotate(90deg);
      }
    }
  }

  .aside__filters {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    .details {
      .details__summary {
        font-size: 1.5rem;
        color: root.$grey-2;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        .details__summary--arrow {
          transition: 0.1s;
        }
      }

      &[open] .details__summary .details__summary--arrow {
        transform: rotate(90deg);
      }
    }

    .aside__buttonBox {
      display: flex;
      justify-content: center;
      width: 100%;

      .aside__buttonBox--clean {
        color: root.$grey-2;
        font-weight: 400;
        font-size: 0.9rem;
        padding: 0.5rem 3.5rem;
        border: 1px solid root.$grey-2;
      }
    }

    .aside__filters--sizes {
      display: flex;
      gap: 0.5rem;
      width: 100%;
      max-width: 50%;
      flex-wrap: wrap;
    }
  }

  .order__wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    .order__button {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 400;
      color: root.$pure-black;
      text-align: start;
    }
  }

  .active {
    width: 100%;
  }

  .inactive {
    width: 0;
  }

  .sorry {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: root.$grey-2;
    font-size: 1.2rem;
    width: 100%;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
